{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>João Ferreira </title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card card-body h-100 border-info">
                    <h4>Quem sou Eu?</h4>
                    <hr>
                    <p>Curioso por natureza, sempre intrigado em saber como as coisas funcionam.  Descobri que a melhor forma de aprender é fazendo, e é isso que tenho feito.</p>
                    <p>Adaptando Descartes, "Penso, logo faço".</p>
                    <p>Abaixo estão alguns dos projetos que desenvolvi ao longo dos ultimos 2 anos: </p>             
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h5>Beta</h5>
                    <hr>
                    <p>Por que pegar algo com a mão se posso fazer um robô pra fazer isso por mim?</p>
                    <img id="beta" src="{% static '\images\Beta.png' %}">
                    <p>Esse é o Beta, um braço mecânico com 5 graus de liberdade! Programado 100% em C++ e controlado por um Joystick Wireless feito sob medida para ele, ele pode realizar diversas tarefas a comando do usuário, tais como separar objetos pela cor através de uma esteira industrial e outros sensores que fazem parte do projeto!</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h5>GameBoy</h5>
                    <hr>
                    <p>Se jogar já é divertido, imagina só criar o jogo - e o hardware, e todo o resto!</p>
                    <img id="gameboy" src="{% static '\images\gameBoyRXC.jpg' %}">
                    <p>O Projeto começou com uma pergunta: "Como usar um Display TFT?" Quem me ajudou a responder essa pergunta foi minha namorada, Luisa, que faz Engenharia da Computação. Juntos, criamos o GameBoy.</p>
                    <p>GameBoy é um ArtBot (robô de interação com o público) e fomos com ele na RXC 2024, a maior competição de Robótica da America Latina! E esse é só o começo...</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h5>Theta</h5>
                    <hr>
                    <p>The Show Must Go On! Após mais de um ano trabalhando na mecânica do Robô Frederico, estava na hora de iniciar meus próprios passos em Robótica Móvel, e então nasceu o Theta.</p>
                    <img id="theta" src="{% static '\images\Theta.png' %}">
                    <P>Theta ainda é um projeto em desenvolvimento! A ideia aqui é aplicar ROS, odometria  <I>e Otras Cositas Más... </I> </P>
                    <p>Atualmente ele ainda está bem simples, mas com todos os sensores funcionais, e um controle por WiFi utilizando um WebServer através de um ESP32. Um passo (ou RPM) de cada vez. </p>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body h-100 border-info">
                    <h4>Como os Projetos me Ajudaram a ser Quem eu Sou Hoje </h4>
                    <hr>
                    <p>A maior lição que aprendi nos meus anos de Engenharia e de vida é que as coisas vão da errado, faz parte do processo. E tudo bem. O único erro que não podemos cometer é o de parar após algo dar errado.</p>
                    <p>Além das habilidades técnicas já mencionadas e de tantas habilidades técnicas que ainda estão por vir, a maior habilidade que um Engenheiro deve ter é <strong>Resiliência</strong>. Pois somente com Resiliência se toca um projeto do início ao fim. Somente com Resiliência se faz Engenharia. </p>
                    <p>Mas superar obstáculos não vale de muita coisa se você não lembrar como os superou 3 meses depois. Com os projetos que fiz e faço, uma importante lição que aprendi é documentar e organizar, sempre e tudo.</p>

                    <p>Dito isso, é assim que levo minha vida e meus projetos, com Curiosidade, Resiliência, e Organização</P>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
