{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>João Ferreira </title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card card-body h-100 border-info">
                    <h4>Resumo Profissional</h4>
                    <hr>
                    <p>Ingressei na UTFPR em Engenharia Mecatrônica em 2020, e desde então venho buscando aprimorar meus conhecimentos em Engenharia cada vez mais!</p>
                    <p>Pouco mais de um ano após entrar na UTFPR, fui bolsista no PETEE, desenvolvendo eletrônica embarcada e cursos de modelagem 3D.</p>
                    <p>Logo após, entrei para a Cromo Consultoria, uma empresa júnior de mecânica e mecatrônica, lá tive oportunidade de me desenvolver como projetista, consultor comercial e, posteriormente, gestor de projetos!</p>
                    <p>Já possuindo alguma experiência, fui contratado pela Microduino para desenvolver produtos de robótica educacional em 2022</p>
                    <p>E assim como uma engrenagem em uma caixa redutora: não pude parar. Em conjunto com amigos, fui Cofundador do O PROJETO, um projeto de extensão e maker space da UTFPR. Com O PROJETO, criamos um espaço onde as pessoas são livres para desenvolver suas habilidades ainda mais! E com isso, veio a 309 Robotics, uma equipe de Robótica Competitiva que foi fundada a partir de uma pergunta "Por Quê Não?"</p>

                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h5>Programação</h5>
                    <hr>
                    <p>- C/C++ Intermediário</p>
                    <p>- Python Intermediário</p>
                    <p>- HTML/CSS Básico</p>
                    <p>
                        Já desenvolvi diversos projetos em Python e C++. A maioria deles envolvendo eletrônica embarcada, com microcontroladores como ESP32 e Arduino.
                    </p>
                    <img src="{% static '\images\WS_ESP.jpg' %}">
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h5>Eletrônica</h5>
                    <hr>
                    <p>- Prototipagem Eletrônica</p>
                    <p>- Experiência com Design de PCBs</p>
                    <p>- Circuitos Digitais e Analógicos</p>
                    <p>- Uso de Microcontroladores</p>
                    <p>- Solda Eletrônica (THT e SMD)</p>


                    <p>
                        Possuo ampla experiência em prototipagem de circuitos eletrônicos, além de design de PCBs. Já utilizei diveros tipos de Microcontroladores e também ja ministrei Workshops de Eletrônica e Programação de Microcontroladores
                    </p>
                    <img src="{% static '\images\eletronica.jpg' %}">

                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h5>Mecânica</h5>
                    <hr>
                    <p>- Modelagem 3D (Solidworks e Fusion 360)</p>
                    <p>- Manufatura Aditiva (FDM e SLA)</p>
                    <p>- Experiência com Corte a Laser</p>
                    <p>
                        Um dos primeiros tópicos que comecei a estudar foi Modelagem 3D, possuo ampla experiência com modelagem avançada em softwares de CAD. Também já ministrei diversos Workshops de Modelagem 3D e Manufatura Aditiva. Além de possuir experiência com corte a laser.
                    </p>
                    <img id="theta" src="{% static '\images\mecanica.jpg' %}">
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body h-100 border-info">
                    <h4>Trajetória Profissional</h4>
                    <hr>
                    <p><strong>PETEE:</strong> Desenvolvimento de Eletrônica em projetos com Arduino e Elaboração de um Curso de Modelagem 3D com Solidworks</p>
                    <p><strong>Cromo Consultoria:</strong> Projetos de Eletrônica e Mecânica, também atuei brevemente como Consultor Comercial, e tive a Oportunidade de Gerenciar alguns Projetos</p>
                    <p><strong>Microduino:</strong> Atuo como Desenvolvedor de Projetos de Robótica Educacional. Trabalho com Prototipagem Eletronica e Desenvolvimento de PCBs, além de Modelagem 3D de Produtos tanto para Injeção Plástica quanto para Corte a Laser.</p>
                    <p><strong>O PROJETO:</strong> Sou Cofundador do Makerspace, e atualmente atuo como Coordenador Educacional, Coordenando Workshops Semanais.</p>
                    <p><strong>309 Robotics:</strong> Comecei trabalhando na Mecânica do Robô Frederico, da Categoria Trekking, e atualmente trabalho na Mecânica, Eletrônica e Programação de dois Projetos Próprios da Categoria ArtBot: Beta e GameBoy.</p>
                    <p><strong>Sensorville:</strong> Atualmente como candidato à estagiário, espero em breve fazer parte do time de Engenharia e da empresa!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
