{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>João Ferreira </title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card card-body h-100 border-info">
                    <h4>Resumo Profissional</h4>
                    <hr>
                    <p>COLOCAR SKILLS E CURRENT LEARNING 3 months after writing my first Hello World program on September 8th 2017 (While working in the marketing department) I had convinced my boss to let me take a stab at building a better version of the outdated laboratory management system my company was running on.</p>

                    <p>Before I knew it we transitioned from the old system and we're on to mine. My newbie self was now in charge of hosting hundreds of thousands of lab samples and supporting thousands of clients.</p>

                    <p>From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h5>Programação</h5>
                    <hr>
                    <p>Reverse Engineer & Build Ugly Prototypes First.</p>
                    <p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h5>Eletrônica</h5>
                    <hr>
                    <p>After almost two years of supporting my system at the lab I’m ready to learn something new. I'll collaborate and share my experience with others on my blog (SayHelloWorld.co) & YouTube channel.</p>
                    <p>Aside from building small projects, I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h5>Mecânica</h5>
                    <hr>
                    <p><strong>Programação:</strong> Python, JavaScript, React, Django</p>
                    <p><strong>Desenvolvimento Web:</strong> HTML/CSS, JavaScript/jQuery</p>
                    <p><strong>Banco de Dados:</strong> Postgres, MongoDB</p>
                    <p><strong>Outros:</strong> Node.js, Machine Learning, AWS</p>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body h-100 border-info">
                    <h4>Trajetória Profissional</h4>
                    <hr>
                    <p><strong>Microduino:</strong> Full stack developer at FOI laboratories. Designed, built, and managed a lab management system as a sole developer. The system supported thousands of customers with a UI for Lab Admins and a customer dashboard.</p>
                    <p><strong>O PROJETO:</strong> Python, Django, HTML/CSS, JavaScript/jQuery, React, Postgres, AWS, and APIs such as Google Maps, JavaScript charts, and more.</p>
                    <p><strong>ETC:</strong> Node.js, MongoDB, and Machine Learning.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
